<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nina's Photos</title>
    <link rel="stylesheet" href="css/photoswipe.css">
    <link rel="stylesheet" href="skins/default-skin.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/site.css">
    <script src="js/photoswipe.min.js"></script>
    <script src="js/photoswipe-ui-default.min.js"></script>
</head>
<body>
    <%- body %>
</body>
</html>
